---
import Layout from '../layouts/Layout.astro';
import NavBar from "../components/Navbar.astro";
---
<Layout title='Welcome to Astro'>
	<NavBar />
	<!-- <h1>inicio</h1>
	<a href="./login" class="w-full border p-2 rounded mt-2">login</a> -->

	<section class="">
		<div class="mx-auto max-w-screen-xl px-4 py-32 lg:flex lg:h-screen lg:items-center">
		  <div class="mx-auto max-w-xl text-center">
			<h1 class="text-3xl font-extrabold sm:text-5xl">
			  Herramienta para Fichar
			  <strong class="font-extrabold text-red-700 sm:block"> f치cil y r치pido. </strong>
			</h1>
	  
			<p class="mt-4 sm:text-xl/relaxed">
			  No gastes de m치s en molinetes o sistemas complejos, nosotros ya lo tenemos resuelto.
			</p>
	  
			<div class="mt-8 flex flex-wrap justify-center gap-4">
			  <a
				class="block w-full rounded-sm bg-red-600 px-12 py-3 text-sm font-medium text-white shadow-sm hover:bg-red-700 focus:ring-3 focus:outline-hidden sm:w-auto"
				href="#"
			  >
				Rese침as
			  </a>
	  
			  <a
				class="block w-full rounded-sm px-12 py-3 text-sm font-medium text-red-600 shadow-sm hover:text-red-700 focus:ring-3 focus:outline-hidden sm:w-auto"
				href="/login"
			  >
				Registrarse
			  </a>
			</div>
		  </div>
		</div>
	  </section>
</Layout>
