---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/NavBar.astro';
---

<Layout title='Welcome to Astro'>
	<NavBar />




	<!-- <h1>inicio</h1>
	<a href="./login" class="w-full border p-2 rounded mt-2">login</a> -->
</Layout>
