<div class="mx-auto max-w-3xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="grid grid-cols-1 gap-4 sm:grid-cols-2 sm:items-center md:gap-8">
      <div
        class=" border border-[#009fac] p-6 ring-1 shadow-xs ring-[#009fac] sm:order-last sm:px-8 lg:p-12"
      >
        <div class="text-center">
          <h2 class="text-lg font-medium text-gray-900">
            Pro
            <span class="sr-only">Plan</span>
          </h2>
  
          <p class="mt-2 sm:mt-4">
            <strong class="text-3xl font-bold text-gray-900 sm:text-4xl"> 30$ </strong>
  
            <span class="text-sm font-medium text-gray-700">/month</span>
          </p>
        </div>
  
        <ul class="mt-6 space-y-2">
          <li class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 text-[#009fac]"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
  
            <span class="text-gray-700"> 20 users included </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 text-[#009fac]"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
  
            <span class="text-gray-700"> 5GB of storage </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 text-[#009fac]"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
  
            <span class="text-gray-700"> Email support </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 text-[#009fac]"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
  
            <span class="text-gray-700"> Help center access </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 text-[#009fac]"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
  
            <span class="text-gray-700"> Phone support </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 text-[#009fac]"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
  
            <span class="text-gray-700"> Community access </span>
          </li>
        </ul>
  
        <a
          href="#"   
          class="mt-8 block  border border-[#00174e] bg-[#00174e] px-12 py-3 text-center text-sm font-medium text-white hover:bg-[#344c7c] hover:ring-1 hover:ring-[#344c7c] focus:ring-3 focus:outline-hidden"
        >
          Obtener
        </a>
      </div>
  
      <div class=" border border-gray-200 p-6 shadow-xs sm:px-8 lg:p-12">
        <div class="text-center">
          <h2 class="text-lg font-medium text-gray-900">
            Básico
            <span class="sr-only">Plan</span>
          </h2>
  
          <p class="mt-2 sm:mt-4">
            <strong class="text-3xl font-bold text-gray-900 sm:text-4xl"> Free </strong>
  
            <span class="text-sm font-medium text-gray-700"></span>
          </p>
        </div>
  
        <ul class="mt-6 space-y-2">
          <li class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 text-[#009fac]"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
  
            <span class="text-gray-700"> Hasta 10 empleados </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 text-[#009fac]"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
  
            <span class="text-gray-700"> 1 Organización </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 text-[#009fac]"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
  
            <span class="text-gray-700"> Soporte 24/7 </span>
          </li>
  
          <li class="flex items-center gap-1">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="size-5 text-[#009fac]"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
            </svg>
  
            <span class="text-gray-700"> Help center access </span>
          </li>
        </ul>
  
        <a
          href="#"
          class="mt-8 block  border border-[#009fac] bg-white px-12 py-3 text-center text-sm font-medium text-[#00174e] hover:ring-1 hover:ring-[#344c7c] focus:ring-3 focus:outline-hidden"
        >
          Obtener
        </a>
      </div>
    </div>
  </div>