<div class="bg-[#f4f4f8] mx-auto max-w-screen-xl px-4 py-6 lg:flex lg:items-center">
    <div class="bg-[#f4f4f8] mx-auto max-w-xl text-center">
      <h1 class="text-3xl font-extrabold sm:text-5xl">
          <strong class="font-extrabold text-[#009fac] sm:block"> Ficheck </strong>
        Guía rápida
      </h1>
    </div>
  </div>
<div class="bg-[#f4f4f8] mx-auto max-w-screen-xl px-4 py-4 lg:flex lg:items-center">

    <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                1 - Crear organización</time>
            <h3 class="text-lg font-semibold text-gray-900 ">
                Registra tu organizacion de forma simple y en sencillos pasos.</h3>
            <p class="mb-4 text-base font-normal text-gray-500 dark:text-gray-400">
                Rellena un simple formulario y hoy mismo podes comenzar a registrar el ingreso y egreso de tus colaboradores.</p>
        </li>
        <li class="mb-10 ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                2 - crea perfiles para colaboradores</time>
            <h3 class="text-lg font-semibold text-gray-900 ">
                Registra a tus colaboradores para que puedan comenzar a fichar.</h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                Una vez que ya estén subidos sus datos, van a poder comenzar a fichar al instante.</p>
        </li>
        <li class="ms-4">
            <div class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -start-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"></div>
            <time class="mb-1 text-sm font-normal leading-none text-gray-400 dark:text-gray-500">
                3 - Revisa los reportes
            </time>
            <h3 class="text-lg font-semibold text-gray-900 ">
                Accede al panel de control y revisa los reportes de tus colaboradores.
            </h3>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
                Podrás ver en tiempo real los horarios de ingreso y egreso de tus colaboradores. También exportar las tablas en excel.
            </p>
        </li>
    </ol>
    
    
</div>